<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DownLoad</title>
    <script>
        console.log({{data}})
        var promise = Promise.resolve({{data}})
        promise.then(function (dataUri) {
            // https://stackoverflow.com/questions/49700028/how-to-download-files-using-office-web-add-in
            var link = document.createElement("a");
            link.download = "data.csv"
            link.href = dataUri
            link.click()
            //window.close()
        }).catch((error)=>{console.error(error); window.document.body.innerHTML=error.toString()})
    </script>
</head>

<body>
</body>

</html>